<div class="landing-container">
  <h1 class="landing-container__name" style="font-family: 'Berkshire Swash', cursive;">Family Cooking</h1>
  <div class="landing-container__links">
    <%= link_to "Add New Recipe", new_recipe_path, class: "mt-5 mr-5 btn btn-outline-danger" %>
    <%= link_to "All Recipes", recipes_path, class: " mt-5 btn btn-outline-danger" %>
  </div>
</div>




