.recipe-photo {
  width: 50%
}

.recipe-photo img {
  height: 300px;
  width: 100%;
  min-width: 280px;
  max-width: 400px;
  background-position: center;
  border-radius: 5px;
  border: 1px solid $blue;
  object-fit: cover;
}

.recipe-title {
  font-size: 55px;
  font-family: 'Berkshire Swash', cursive;
}

.recipe-header {
  text-align: center;
  margin: 1px 5px 25px;
}


.recipe-show-bg-image {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('background2.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  min-height: 100vh;
}

.recipe-body {
  background-color: rgba(255, 255, 255, .93);
  border-radius: 8px;
}

.recipe-info-body {
  width: 50%;
  text-align: justify;
}


.recipe-display {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

@media only screen and (max-width: 1000px) {
  .recipe-display {
    flex-direction: column-reverse;
    align-items: center;
    padding: 5px;
  }

  .recipe-info-body {
    margin-top: 30px;
    width: 80%;
  }
  .recipe-photo {
    width: 90%;
    max-width: 400px;
  }
}


